### Shared

# Activate specific event handlers and functions (supported: ox, esx, qb, nd)
setr inventory:framework "salife"

# Number of slots for player inventories
setr inventory:slots 35

# Maximum carry capacity for players, in grams (frameworks may override this)
setr inventory:weight 30000

# Integrated support for qtarget/ox_target stashes, shops, etc
# Note: qtarget is deprecated, a future update may drop support (ox_target only, or gated features)
setr inventory:target true

# Jobs with access to police armoury, evidence lockers, etc
setr inventory:police ["sasp", "lssd", "gov", "shaplaw", "police", "sheriff"]

### Client

# The URL to load item images from
#setr inventory:imagepath "nui://ox_inventory/web/images"
#setr inventory:imagepath "http://localhost:8081/images"
setr inventory:imagepath "https://media.githubusercontent.com/media/Sytrookie/velocity-images/main/"

# Weapons will reload after reaching 0 ammo
setr inventory:autoreload 0

# Blur the screen while accessing the inventory
setr inventory:screenblur true

# Default hotkeys to access primary and secondary inventories, and hotbar
setr inventory:keys ["TAB", "F1", "F2"]

# Enable control action when inventory is open
setr inventory:enablekeys [249]

# Weapons must be aimed before shooting
setr inventory:aimedfiring true

# Show a list of all nearby players when giving items
setr inventory:giveplayerlist false

# Toggle weapon draw/holster animations
setr inventory:weaponanims true

# Toggle item notifications (add/remove)
setr inventory:itemnotify true

# Disable drop markers and spawn a prop instead
setr inventory:dropprops true

# Set the default model used for drop props
setr inventory:dropmodel "prop_med_bag_01b"

# Disarm the player if an unexpected weapon is in use (i.e. did not use the weapon item)
setr inventory:weaponmismatch true

# Ignore weapon mismatch checks for the given weapon type (e.g. ['WEAPON_SHOVEL', 'WEAPON_HANDCUFFS'])
setr inventory:ignoreweapons []

# Suppress weapon and ammo pickups
setr inventory:suppresspickups 1

### Server

# Compare current version to latest release on GitHub
set inventory:versioncheck true

# Stashes will be wiped after remaining unchanged for the given time
set inventory:clearstashes "6 MONTH"

# Discord webhook url, used for imageurl metadata content moderation (image embeds)
set inventory:webhook "https://discord.com/api/webhooks/1062013865006735380/yRu3zqzIhrEy3Go31ocBr16AEyfOkSP79-2qvfjqLEJVgzWlXkUyIAIQpbedTz4AoJ6W"

# Logging via ox_lib (0: Disable, 1: Standard, 2: Include AddItem/RemoveItem, and all shop purchases)
set inventory:loglevel 0

# Item prices fluctuate in shops
set inventory:randomprices 0

# Loot will randomly generate inside unowned vehicles and dumpsters
set inventory:randomloot true

# Minimum job grade to remove items from evidence lockers
set inventory:evidencegrade 5

# Trim whitespace from vehicle plates when checking owned vehicles
setr inventory:trimplate true

# Set the contents of randomly generated inventories
# [item name, minimum, maximum, loot chance]
set inventory:vehicleloot [
]
set inventory:dumpsterloot [
]