@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basic:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Signika";
  font-size: 11pt;
  box-sizing: border-box;
}

body {
  user-select: none;
  overflow: hidden;
  background: transparent;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 0px black;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 3px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
}

.inventory-grid {
  overflow: hidden;
  overflow-y: scroll;
  direction: ltr;
  display: grid;
  height: 508px;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: 100px;
  gap: 2px;

  &-right {
    @extend .inventory-grid;
  }
}

@for $i from 1 through 5 {
  .inventory-grid:not(.inventory-grid-right)
    > .item-container:nth-child(#{$i}):before,
  .hotbar-grid > .item-container:nth-child(#{$i}):before {
    top: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    content: "#{$i}";
    height: 15px !important;
    width: 15px !important;
    font-size: 11px;
    font-weight: bold;
    font-family: "Basic";
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
    background-color: white;
    color: black;
    text-shadow: none !important;
    outline: 1px solid rgba(0, 0, 0, 0.9);
    outline-offset: -1px;
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  outline: 1px solid rgba(33, 33, 33, 0.8);
  outline-offset: -1px;
  position: relative;
  padding-bottom: 15px;

  .item-label {
    width: 100%;
    background-color: rgba(80, 50, 80, 0.8);
    padding: 0.8pt;
    font-size: 8pt;
    text-align: center;
    text-transform: uppercase;
    outline: 1px solid rgba(33, 33, 33, 0.4);
    outline-offset: -1px;
    position: absolute;
    bottom: 0px;
  }

  .item-count {
    font-size: 11px;
    align-self: flex-end;
    padding: 0 2px 0 2px;
  }

  .item-durability {
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
    max-width: 80%;
    display: inline-block;
    position: absolute;
    bottom: 10%;
  }
}

.button {
  background-color: rgba(12, 12, 12, 0.35);
  border: 1px solid rgba(33, 33, 33, 0.4);
  outline-offset: -1px;
  color: #fff;
  line-height: 4vh;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 1vh;
  }

  &:hover {
    background-color: rgba(218, 0, 0, 0.2);
  }
}

input[type="number"] {
  @extend .button;

  line-height: 48px;
  padding: 0;
  margin-bottom: 3vh !important;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 3pt;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.weight-bar {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 5px;

  &-value {
    height: 100%;
  }
}

.hotbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: 100px;
  gap: 2px;
  position: absolute;
  bottom: 2vh;
}

.item-info {
  padding: 0 10px 0 10px;
  font-weight: 500;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  width: 100%;
}

.progbar-container {
  width: 20%;
  height: 5%;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.progress {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(52, 152, 219);
}

.progbar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2vh
}

@keyframes progbar { 
  0% {width: 0%}
  100% {width: 100%}
}