@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Basic:wght@300;400;500;600;700&display=swap");

$mainColor: rgb(44, 62, 80);

$borderRadius: 0.5vh;

$gridCols: 5;
$gridRows: 5;
$gridSize: 10.5vh;
$gridGap: 0.2vh;

$imageSize: $gridSize - 2vh;

* {
  font-family: "Signika";
  font-size: 1.5vh;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: none;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0.1vh 0.1vh 0 black;
}

img {
  image-rendering: -webkit-optimize-contrast;
  width: $imageSize;
  height: $imageSize;
}

body {
  background: gray;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
}

.inventory-grid {
  display: grid;
  height: calc(#{$gridRows} * #{$gridSize} + #{$gridRows} * #{$gridGap});
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize;
  gap: $gridGap;
  overflow-y: scroll;
}

@for $i from 1 through 5 {
  .inventory-grid:not(.inventory-grid-right)
    > .item-container:nth-child(#{$i})
    > .item-count:before,
  .hotbar-grid > .item-container:nth-child(#{$i}) > .item-count:before {
    content: "#{$i}";
    width: 1.5vh;
    font-size: 1.2vh;
    border-top-left-radius: $borderRadius;
    border: solid 0.1vh rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-family: "Basic";
    text-align: center;
    background-color: white;
    color: black;
    text-shadow: none;
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $imageSize;
  border-radius: $borderRadius;
  image-rendering: -webkit-optimize-contrast;

  .item-count {
    display: flex;

    span {
      margin-left: auto;
      font-size: 1.2vh;
    }
  }

  .item-durability {
    margin-top: auto;
    background: rgba(0, 0, 0, 0.5);
    height: 0.5vh;

    div {
      height: 100%;
    }
  }

  .item-label {
    background-color: $mainColor;
    padding: 0.1vh;
    font-size: 1vh;
    text-align: center;
    text-transform: uppercase;
  }
}

.button {
  background-color: rgba(12, 12, 12, 0.35);
  border: 0.1vh solid rgba(33, 33, 33, 0.4);
  border-radius: $borderRadius;
  height: 4.5vh;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 1vh;
  }

  &:hover {
    background-color: $mainColor;
    opacity: 0.8;
  }
}

input[type="number"] {
  @extend .button;
  margin-bottom: 3vh !important;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.weight-bar {
  margin-bottom: 0.25vh;
  background: rgba(0, 0, 0, 0.5);
  height: 1.25vh;
  border-radius: $borderRadius;

  div {
    height: 100%;
  }
}

//TODO: refactor below

.hotbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: 100px;
  gap: 2px;
  position: absolute;
  bottom: 2vh;
}

.item-info {
  padding: 0 1vh 0 1vh;
  font-weight: 500;
  font-size: 1.2vh;
  background-color: rgba(0, 0, 0, 0.267);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  justify-content: center;

  p {
    font-size: 1.8vh;
  }
}

.progressBar {
  width: 32vh;
  height: 4.2vh;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  &-value {
    width: 0;
    height: 100%;
    background-color: rgb(52, 152, 219);
    border-radius: inherit;
    animation: progressBar linear forwards;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2.2vh;
      transform: translate(-50%, -50%);
    }

    @keyframes progressBar {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }

  &-cancel {
    @extend .progressBar-value;
    animation-play-state: paused;
    width: 100% !important;
    background-color: rgb(198, 40, 40);
  }
}
