@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html {
	font-family: 'Signika';
	user-select: none;
	color: white;
}

@media only screen and (max-width: 1920px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		text-shadow: 1px 1px 0px black;
		overflow:hidden;
	}
}

@media only screen and (max-width: 3840px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		text-shadow: 2px 2px 0px black;
		overflow:hidden;
	}
}

.inventory-main {
	display: none;
	position: fixed;
	margin: auto;
	opacity: 0.9;
	overflow: hidden;
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside {
		width: 514px;
		height: 408px;
		overflow: auto;
		direction: ltr;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside {
		width: 1028px;
		height: 816px;
		overflow: auto;
		direction: ltr;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-rightside {
		width: 514px;
		height: 408px;
		overflow: auto;
		direction: rtl;
		margin-left: -8px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-rightside {
		width: 1028px;
		height: 816px;
		overflow: auto;
		direction: rtl;
		margin-left: -8px;
	}
}

@media only screen and (max-width: 1920px) {
	.ItemBoxes {
		position: relative;
		width: 100px;
		height: 100px;
		background-color: rgba(0, 0, 0, 0.2);
		float: left;
		top: -2px;
		margin: 2px 1px 0 1px;
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 1920px) {
	.ItemBoxes {
		position: relative;
		width: 100px;
		height: 100px;
		background-color: rgba(0, 0, 0, 0.2);
		float: left;
		top: -2px;
		margin: 2px 1px 0 1px;
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.ItemBoxes {
		position: relative;
		width: 200px;
		height: 200px;
		background-color: rgba(0, 0, 0, 0.2);
		float: left;
		top: -4px;
		margin: 4px 2px 0 2px;
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(1):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '1';
		height: 15px !important;
		width: 15px !important;
		font-size: 11px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 14px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 1px solid rgba(0,0,0,0.9);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(1):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '1';
		height: 30px !important;
		width: 30px !important;
		font-size: 22px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 28px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 2px solid rgba(0,0,0,0.9);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(2):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '2';
		height: 15px !important;
		width: 15px !important;
		font-size: 11px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 14px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 1px solid rgba(0,0,0,0.9);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(2):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '2';
		height: 30px !important;
		width: 30px !important;
		font-size: 22px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 28px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 2px solid rgba(0,0,0,0.9);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(3):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '3';
		height: 15px !important;
		width: 15px !important;
		font-size: 11px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 14px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 1px solid rgba(0,0,0,0.9);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(3):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '3';
		height: 30px !important;
		width: 30px !important;
		font-size: 22px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 28px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 2px solid rgba(0,0,0,0.9);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(4):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '4';
		height: 15px !important;
		width: 15px !important;
		font-size: 11px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 14px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 1px solid rgba(0,0,0,0.9);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(4):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '4';
		height: 30px !important;
		width: 30px !important;
		font-size: 22px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 28px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 2px solid rgba(0,0,0,0.9);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(5):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '5';
		height: 15px !important;
		width: 15px !important;
		font-size: 11px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 14px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 1px solid rgba(0,0,0,0.9);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.inventory-main-leftside > .ItemBoxes:nth-child(5):after {
		top: 0;
		left: 0;
		margin: 0 auto;
		position: absolute;
		content: '5';
		height: 30px !important;
		width: 30px !important;
		font-size: 22px;
		font-weight: bold;
		font-family: "Basic";
		text-align: center;
		line-height: 28px;
		vertical-align: middle;
		background-color: white;
		color: black;
		text-shadow: none;
		outline: 2px solid rgba(0,0,0,0.9);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.itemboxes-container {
		height: 130px;
		min-width: 110px;
		max-width: 550px;
		width: fit-content;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 15%;
		overflow: hidden;
	}
}

@media only screen and (max-width: 3840px) {
	.itemboxes-container {
		height: 260px;
		min-width: 220px;
		max-width: 1100px;
		width: fit-content;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 15%;
		overflow: hidden;
	}
}

.template {
	display: none;
}

@media only screen and (max-width: 1920px) {
	.itembox-container {
		display: none;
		position: relative;
		float: left;
		margin: 0.5px;
		width: 220px;
		height: 260px;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
		outline: 2px solid rgba(38,38,38,0.1);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 3840px) {
	.itembox-container {
		display: none;
		position: relative;
		float: left;
		margin: 0.5px;
		width: 440px;
		height: 520px;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
		outline: 4px solid rgba(38,38,38,0.1);
		outline-offset: -4px;
	}
}

@media only screen and (max-width: 1920px) {
	.hotbar-container {
		height: 110px;
		min-width: 110px;
		width: fit-content;
		position: absolute;
		left: 50%;
		bottom: 2%;
		z-index: 1;
		transform: translate(-50%, 0%);
		overflow: hidden;
	}
}

@media only screen and (max-width: 3840px) {
	.hotbar-container {
		height: 220px;
		min-width: 220px;
		width: fit-content;
		position: absolute;
		left: 50%;
		bottom: 2%;
		z-index: 1;
		transform: translate(-50%, 0%);
		overflow: hidden;
	}
}

@media only screen and (max-width: 1920px) {
	.hotslot-container {
		position: relative;
		float: left;
		margin: 1px;
		width: 110px;
		height: 110px;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
		outline: 1px solid rgba(38,38,38,0.1);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.hotslot-container {
		position: relative;
		float: left;
		margin: 2px;
		width: 220px;
		height: 220px;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.2);
		outline: 2px solid rgba(38,38,38,0.1);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	#itembox-action {
		position: absolute;
		padding: 4px 0 4px 0;
		width: 100%;
		text-align: center;
		left: 0;
		font-size: 13px;
		background-color: white;
		outline: 1px solid rgba(38,38,38,0.1);
		outline-offset: -1px;
		color: #111;
		text-shadow: none !important;
		font-weight: 700;
	}
}

@media only screen and (max-width: 3840px) {
	#itembox-action {
		position: absolute;
		padding: 8px 0 8px 0;
		width: 100%;
		text-align: center;
		left: 0;
		font-size: 26px;
		background-color: white;
		outline: 2px solid rgba(38,38,38,0.1);
		outline-offset: -2px;
		color: #111;
		text-shadow: none !important;
		font-weight: 700;
	}
}

@media only screen and (max-width: 1920px) {
	.itembox-img img {
		display:block;
		position: relative;
		margin: 0 auto;
		margin-top: 10%;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		bottom: -10px;
		z-index: -1;
	}
}

@media only screen and (max-width: 3840px) {
	.itembox-img img {
		display:block;
		position: relative;
		margin: 0 auto;
		margin-top: 10%;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		bottom: -20px;
		z-index: -1;
	}
}

@media only screen and (max-width: 1920px) {
	.hotslot-img img {
		display:block;
		position: relative;
		margin: 0 auto;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		top: 5px;
		z-index: -1 !important;
	}
}

@media only screen and (max-width: 3840px) {
	.hotslot-img img {
		display:block;
		position: relative;
		margin: 0 auto;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		top: 10px;
		z-index: -1 !important;
	}
}

@media only screen and (max-width: 1920px) {
	#itembox-label {
		padding: 5px 0 5px 0 !important;
	}
}

@media only screen and (max-width: 3840px) {
	#itembox-label {
		padding: 10px 0 10px 0 !important;
	}
}

.item-slot-img {
	max-width: 100%;
	max-height: 100%;
}

.item-slot-img img {
	display:block;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	width: auto;
	height: auto;
	max-width: 80%;
	max-height: 80%;
}

@media only screen and (max-width: 1920px) {
	.item-slot-label, #itembox-label {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(12, 12, 12, 0.3);
		height: fit-content;
		padding: 2px 0 2px 0;
		font-size: 10px;
		text-align: center;
		text-transform: uppercase;
		font-variant: small-caps;
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.item-slot-label, #itembox-label {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(12, 12, 12, 0.3);
		height: fit-content;
		padding: 4px 0 4px 0;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		font-variant: small-caps;
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.item-slot-durability-bar {
		position: absolute;
		height: 8px;
		width: 100%;
		top: -4px;
		background-color: #1d1d1de8;
		outline: 1px solid rgba(38,38,38,0.2);
		outline-offset: -1px;
	}
}

@media only screen and (max-width: 3840px) {
	.item-slot-durability-bar {
		position: absolute;
		height: 8px;
		width: 100%;
		top: -8px;
		background-color: #1d1d1de8;
		outline: 2px solid rgba(38,38,38,0.2);
		outline-offset: -2px;
	}
}

@media only screen and (max-width: 1920px) {
	.iteminfo {
		display: none;
		position: absolute;
		padding: 0 10px 0 10px;
		font-weight: 500;
		font-size: 13px;
		top: 75%;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 20%;
		min-width: 300px;
		background-color: rgba(0,0,0,0.267);
		user-select: all !important;
		color: white;
	}
}

@media only screen and (max-width: 3840px) {
	.iteminfo {
		display: none;
		position: absolute;
		padding: 0 20px 0 20px;
		font-weight: 500;
		font-size: 26px;
		top: 75%;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 20%;
		min-width: 600px;
		background-color: rgba(0,0,0,0.267);
		user-select: all !important;
		color: white;
	}
}

@media only screen and (max-width: 1920px) {
	p {
		line-height: 2px;
	}
}

@media only screen and (max-width: 3840px) {
	p {
		line-height: 4px;
	}
}

@media only screen and (max-width: 1920px) {
	.iteminfo-label {
		font-size: 15px;
		font-weight:600;
	}
}

@media only screen and (max-width: 3840px) {
	.iteminfo-label {
		font-size: 30px;
		font-weight:600;
	}
}

@media only screen and (max-width: 1920px) {
	.line {
		border: 0;
		border-top: 1px solid rgba(255,255,255,0.25);
		border-radius:2px;
		margin-top:5px;
		margin-bottom:5px;
	}
}

@media only screen and (max-width: 3840px) {
	.line {
		border: 0;
		border-top: 2px solid rgba(255,255,255,0.25);
		border-radius:4px;
		margin-top:10px;
		margin-bottom:10px;
	}
}

@media only screen and (max-width: 1920px) {
	.item-slot-count p {
		color: #ffffff;
		text-align: right;
		right: 2px;
		top: -3px;
		font-size: 11px;
		position: absolute;
	}
}

@media only screen and (max-width: 3840px) {
	.item-slot-count p {
		color: #ffffff;
		text-align: right;
		right: 4px;
		top: -6px;
		font-size: 22px;
		position: absolute;
	}
}

@media only screen and (max-width: 1920px) {
	.inv-option-item > p {
		color: white;
		text-align: center;
		line-height: 48px;
		text-transform: uppercase;
		font-size: 1.1pt;
		font-family: Verdana;
	}
}

@media only screen and (max-width: 3840px) {
	.inv-option-item > p {
		color: white;
		text-align: center;
		line-height: 96px;
		text-transform: uppercase;
		font-size: 2.2pt;
		font-family: Verdana;
	}
}

@media only screen and (max-width: 1920px) {
	.inv-option-item { 
		position: relative;
		display: block;
		margin: 0 auto;
		height: 40px;
		width: 150px;
		top: 30%;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		border: 0;
	}
}

@media only screen and (max-width: 3840px) {
	.inv-option-item { 
		position: relative;
		display: block;
		margin: 0 auto;
		height: 80px;
		width: 300px;
		top: 30%;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		border: 0;
	}
}

@media only screen and (max-width: 1920px) {
	.use {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 40px;
		width: 150px;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		line-height: 40px;
		border: 0;
	}
}

@media only screen and (max-width: 3840px) {
	.use {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 80px;
		width: 300px;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		line-height: 80px;
		border: 0;
	}
}

@media only screen and (max-width: 1920px) {
	.give {
		position: relative;
		display: block;
		margin: 20 auto;
		height: 40px;
		width: 150px;
		top: 35%;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		line-height: 40px;
		border: 0;
	}
}

@media only screen and (max-width: 3840px) {
	.give {
		position: relative;
		display: block;
		margin: 40 auto;
		height: 80px;
		width: 300px;
		top: 35%;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
		color: white;
		text-align: center;
		transition: 0.2s ease-in-out all;
		line-height: 80px;
		border: 0;
	}
}

.give:hover, .use:hover, .close:hover, .inv-option-item:hover {
	background-color: rgba(218, 0, 0, 0.2);
}

@media only screen and (max-width: 1920px) {
	.close {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 40px;
		width: 150px;
		top: 40%;
		color: white;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 1px solid rgba(33,33,33,0.4);
		outline-offset: -1px;
		transition: 0.2s ease-in-out all;
		border: 0;
	}
}

@media only screen and (max-width: 3840px) {
	.close {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 80px;
		width: 300px;
		top: 40%;
		color: white;
		background-color:rgba(12, 12, 12, 0.35);
		outline: 2px solid rgba(33,33,33,0.4);
		outline-offset: -2px;
		transition: 0.2s ease-in-out all;
		border: 0;
	}
}

/* scrollbar Hsn*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 1920px) {
	::-webkit-scrollbar {
		width: 4px;
	}
}

@media only screen and (max-width: 3840px) {
	::-webkit-scrollbar {
		width: 8px;
	}
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1920px) {
	.ui-draggable-dragging {
		pointer-events: none;
		width: 100px;
		height: 100px;
		position: relative;
		float: left;
		margin: 2px 1px 0 1px;
	}
}

@media only screen and (max-width: 1920px) {
	.ui-draggable-dragging {
		pointer-events: none;
		width: 200px;
		height: 200px;
		position: relative;
		float: left;
		margin: 4px 2px 0 2px;
	}
}

@media only screen and (max-width: 1920px) {
	.ui-progressbar {
		background: rgba(0,0,0,0.5);
		width: 508px;
		margin-left: 1px;
		height: 4px;
		border-radius: 0;
		border: 1px solid rgba(0,0,0,0.5);
	}
}

@media only screen and (max-width: 3840px) {
	.ui-progressbar {
		background: rgba(0,0,0,0.5);
		width: 1016px;
		margin-left: 2px;
		height: 8px;
		border-radius: 0;
		border: 2px solid rgba(0,0,0,0.5);
	}
}

.ui-progressbar-value 
{
	background: #30a121;
	border: 0px;
	border-radius: 0;
}

.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5;
}
