$mainColor: #16161aef;
$textColor: #c1c2c5;
$mainFont: Roboto;

$secondaryColor: #22232c; /* durple #7 */
$secondaryColorHighlight: #33343f; /* durple #3 */
$secondaryColorLight: rgba(0, 0, 0, 0.5); /* isnt even used? */
$secondaryColorDark: #33343f; /* durple #3 */

$backgroundColor: #0c0c1100; /* durple #8 */

$gridColsL: 5;
$gridRowsL: 5;
$gridColsR: 4;
$gridRowsR: 5;
$gridSize: 10.12vh;
$gridGap: 0.4rem;
$containerSize: calc(#{$gridRowsL} * #{$gridSize + 0.22vh} + #{$gridRowsL} * #{$gridGap});

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
  
}

#root {
  height: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
  
}

.context-menu-list {
  min-width: 100px;
  color: $textColor;
  padding: 4px;
  gap: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: 9px;
  border-radius: calc(0.092592592vh * 0);
  background: rgb(32, 32, 32);
  border: 1px solid rgba(55, 55, 55, 1);
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
  outline: none;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    transform: none;
  }
  &:hover {
    background:rgba(36, 135, 38, 0.22);
    border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
    border-radius: calc(0.092592592vh * 0);
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(12, 14, 18, 0.726);
}

.inventory-wrapper-container {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8rem;
}

.inventory-control {
  display: flex;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10.5rem;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    transition: 200ms;
    padding: 11px 8px;
    width: 5rem;
    font-family: $mainFont;
    font-size: 16px;
    text-align: center;
    outline: none;
    color: #fff;
    background: rgba(170, 170, 170, 0.22);
    -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
    -moz-box-shadow: inset 0px 0px 25px 0px #000000;
    box-shadow: inset 0px 0px 30px 0px #000000;
    border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
    border-radius: calc(0.092592592vh * 0);
    animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    &:focus-within {
      background: rgba(36, 135, 38, 0.22);
      border: calc(0.092592592vh * 1.4) solid rgba(36, 135, 38, 0.22);
    }
  }

  .inventory-control-button {
    font-size: 14px;
    color: #fff;
    background: rgba(170, 170, 170, 0.22);
    -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
    -moz-box-shadow: inset 0px 0px 25px 0px #000000;
    box-shadow: inset 0px 0px 30px 0px #000000;
    border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
    border-radius: calc(0.092592592vh * 0);
    transition: 200ms;
    padding: 12px 25px;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 100%;
    font-weight: 500;
    animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: relative; /* Ensure the shine effect is positioned correctly */
    overflow: hidden; /* Ensure the shine effect doesn't overflow the button */

    &:hover {
      background: rgba(36, 135, 38, 0.22);
      -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
      -moz-box-shadow: inset 0px 0px 25px 0px #000000;
      box-shadow: inset 0px 0px 30px 0px #000000;
      border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
      border-radius: calc(0.092592592vh * 0);
    }

    &:hover::before {
      animation: shine 3s linear infinite;
      opacity: 1; /* Show on hover */
    }

    &::before {
      content: '';
      position: absolute;
      top: -100%;
      left: -150%;
      width: 300%;
      height: 300%;
      background: linear-gradient(135deg, transparent 48%, rgba(170, 170, 170, 0.8) 50%, transparent 52%);
      transform: rotate(90deg);
      pointer-events: none; /* Ensure the shine effect doesn't interfere with button clicks */
      opacity: 0; /* Initially hidden */
    }
  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background:rgba(36, 135, 38, 0.22);
    -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
    -moz-box-shadow: inset 0px 0px 25px 0px #000000;
    box-shadow:  inset 0px 0px 30px 0px #000000;
    border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
    border-radius: calc(0.092592592vh * 0);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5rem;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    background-size: 5.5vh;
    color: $textColor;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  transition: 200ms !important;
  border: none;
  color: white;
  padding: 7px 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  background:rgba(36, 135, 38, 0.22);
  border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
  border-radius: calc(0.092592592vh * 0);
  &:hover {
    box-shadow: 0.0rem 0.0rem 20px 5px #31d4a9 inset !important;
    border: calc(0.092592592vh * 1.4) solid rgba(36, 135, 38, 0.22);
    border-radius: calc(0.092592592vh * 0);
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
  padding: 0.625rem;
  border-radius: 0.5rem;
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 16px;
    padding-bottom: 5px;
  }
}

.inventory-grid-container-left {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridColsL, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.inventory-grid-container-right {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridColsR, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

// inventory slots
.inventory-slot {
  background: rgba(170, 170, 170, 0.158);
  border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
  border-radius: calc(0.092592592vh * 0);
  box-shadow: 0.0rem 0.0rem 50px 5px rgba(0, 0, 0, 0.808) inset ;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 5.5vh;
  color: $textColor;
  animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow: hidden; /* Ensure the shine effect doesn't overflow the button */
}

.inventory-slot::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -150%;
  width: 300%;
  height: 300%;
  background: linear-gradient(135deg, transparent 48%, rgba(170, 170, 170, 0.8) 50%, transparent 52%);
  transform: rotate(90deg);
  pointer-events: none; /* Ensure the shine effect doesn't interfere with button clicks */
  opacity: 0; /* Initially hidden */
}

.inventory-slot:hover::before {
  animation: shine 3s linear infinite;
  opacity: 1; /* Show on hover */
}

.inventory-slot:hover {
  background:rgba(36, 135, 38, 0.22);
  -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
  -moz-box-shadow: inset 0px 0px 25px 0px #000000;
  box-shadow:  inset 0px 0px 30px 0px #000000;
  border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
  border-radius: calc(0.092592592vh * 0);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 5.5vh;
  color: $textColor;
}

@keyframes shine {
  0% {
    transform: translate(-100%, 100%) rotate(90deg);
  }
  100% {
    transform: translate(100%, -100%) rotate(90deg);
  }
}

.inventory-weight {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 3px;
  font-weight: 400;
  font-family: $mainFont;
  font-size: 10px;
}

@keyframes zoomOutAndShake {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.inventory-slot-label-box {
  background: rgba(0, 0, 0, 0);
  color: #FFF;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 3px;
  font-weight: 400;
  font-family: $mainFont;
  font-size: 10px;
}

.inventory-slot-number {
  background-color: rgb(36, 135, 38);
  box-shadow: 0 0 1vh #03b89a59;
  border: 1px solid #00ffdd54;
  color: rgb(255, 255, 255);
  height: 12px;
  border-radius: 0.25vh;
  border-top-left-radius: 0.5rem;
  padding: 3px;
  font-size: 12px;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  color: rgb(223, 223, 223);
  padding: 3px;
  gap: 4px;
  p {
    font-size: 12px;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color:white;
  font-family: $mainFont;
  background:rgba(170, 170, 170, 0.295);
  -webkit-box-shadow: inset 0px 0px 25px 0px #000000;
  -moz-box-shadow: inset 0px 0px 25px 0px #000000;
  box-shadow:  inset 0px 0px 40px 0px #000000;
  border: calc(0.092592592vh * 1.4) solid rgba(255, 255, 255, 0.15);
  border-radius: calc(0.092592592vh * 0);
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// Hotslot
.hotslot-wrapper {
  display: grid;
  height: $containerSize;
  height: fit-content;
  grid-template-columns: repeat(1, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
}


.hotslot-container {
  background-color: $backgroundColor;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: -5.55rem;
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 30vh;
  left: 83vh;
  flex-direction: column;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  flex-direction: row;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 35.5vh;
  right: 48.3%;
  width: 100%;
  transform: translate(50%);
}


.item-notification-action-box {
  width: 100%;
  color: $textColor;
  //background-color: $mainColor;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5rem;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: #33343f;
  height: 3px;
  border-radius: 0.25rem;
  overflow: hidden;
}

.weight-bar {
  background: #33343f;
  height: 0.8vh;
  border-radius: 0.25rem;
  overflow: hidden;
  animation: zoomOutAndShake 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px);
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}
