$mainColor: #1f2023ef;
$textColor: #c1c2c5;
$mainFont: 'Fira Sans';

$seconaryColor: #1f2023ef;
$secondaryColorLight: #1f2023ef;
$secondaryColorDark: #1f2023ef;

$gridCols: 5;
$gridRows: 5;
$gridCols-right: 4;
$gridRows-right: 5;
$gridSize: 11.2vh;
$gridGap: 0.5rem;

$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});
$containerSize-right: calc(#{$gridRows-right} * #{$gridSize + 0.22vh} + #{$gridRows-right} * #{$gridGap});

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: 'Fira Sans', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.MuiMenuItem-root > div > p {
  padding: 0 !important;
}

.MuiMenu-list {
  min-width: 200px;
  background-color: $mainColor;
  color: $textColor;
  padding: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  font-size: 16px !important;
}

.MuiMenuItem-gutters {
  padding: 10px 16px !important;
  font-size: 16px !important;
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.5vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  gap: 20px;
}

.inventory-wrapper-container {
  background-color: rgba(19, 20, 23, 0.980);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.inventory-control {
  display: flex;
  width: 4rem;
  margin-right: 1rem;

  .inventory-control-input {
    transition: 200ms;
    padding: 16px 8px;
    border-radius: 5px;
    font-family: $mainFont;
    margin-top: 3.5rem;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: #1f2023;
    &:focus-within {
      background-color: #393b41;
    }
    width: 100%;
  }
}

.useful-controls-dialog {
  font-size: 18px;
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border-radius: 5px !important;
  background-color: #0d0d14e1 !important;
  &:hover {
    background-color: #17171f !important;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window
.MuiDialogContent-root {
  background-color: $mainColor;
  color: $textColor;
}

.MuiDialogTitle-root {
  background-color: $mainColor;
  color: $textColor;
}

.MuiDialogActions-root {
  background-color: $mainColor;
  color: $textColor;
}

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($gridGap * 2);
}
.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inventory-grid-container-right {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols-right, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
  overflow-x: hidden;
}

// inventory slots
.inventory-slot {
  background-color: $mainColor;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 5.5vh;
  color: $textColor;
  border: 1px solid #25272bd5;
}

.inventory-first-slots {
  position: absolute;
  font-size: 84px;
  color: #c1c2c5;
  top: 50%;
  left: 50%;
  opacity: 20%;
  transform: translate(-50%, -50%);
}

.inventory-slot-label-box {
  color: $textColor;
  text-align: center;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 3px;
  font-weight: 800;
  font-family: $mainFont;
  font-size: 11px;
}

.inventory-slot-number {
  background-color: white;
  color: black;
  height: 12px;
  border-top-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
  padding: 3px;
  font-size: 12px;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-wrapper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  p {
    font-size: 12px;
  }
}

.item-slot-header-wrapper {
  display: flex;
  flex-direction: row;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  gap: 3px;
  p {
    font-size: 11px;
    background-color: #28272acb;
    padding: 5px;
    border-radius: 1rem;
  }
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

// slot tooltip
.MuiTooltip-tooltip {
  background-color: $mainColor !important;
  min-width: 200px !important;
  color: $textColor !important;
  font-family: $mainFont !important;
  border-radius: 5px !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  border-style: outset !important;
  border-width: 1px !important;
}

.tooltip-wrapper {
  display: flex;
  padding: .5vh;
  flex-direction: column;
  p {
    font-size: 14px;
    font-weight: 600;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    padding: .5vh;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 5px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #131417 2px solid;
  img {
    width: 32px;
    height: 32px;
    padding-right: 5px;
    border-right: #131417 1px solid;
    margin: 15px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $seconaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.weight-bar {
  background: #25252cef;
  border: 1px inset rgba(0, 0, 0, 0.1);
  height: 0.6vh;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 0.5rem;
}
